<mat-tab-group mat-align-tabs="start">
  <mat-tab label="My Leaves">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div>
        <bh-myleaves style="width:100%"></bh-myleaves>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="My Profile">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div>
        <bh-myprofile style="width:100%"></bh-myprofile>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="My Approvals" *ngIf="uService.isManager()">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <div>
        <bh-myapprovals style="width:100%">
          <bh-myapprovals></bh-myapprovals>
        </bh-myapprovals>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>